/* 
Start With:
- Outside -> In, then Top -> Down, then Left -> Right 

- Margin = When you want to push things away 
- Padding = When you want to push things in 
- Divs are blocks and they dont allow other blocks to be beside each other. Therefore you need 
inline-block on each blue and red for them to be beside each other.
- Use vertical-align: top when you use display: inline-block. They usually go together
- Use margin-right on blue id to move red away from blue.
- Make the yellows to display-inline block in order to be side by side 

- Should be able to do margin, padding, display inline-block, vertical align top
*/

.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 5px;
}
.top-nav {
    height: 90px;
    background-color: green;
    margin-top: 20px;
    /* margin-bottom: 50px; */
    margin-left: 20px;
    margin-right: 20px;
    
}
.side-nav {
    height: 330px;
    width: 200px;
    background-color: blue;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 212px;
}
.main {
    height: 515px;
    width: 690px;
    background-color: red;
    /* margin: 40px 40px; */
    margin-left: 15.5px;
    display: inline-block;
    margin-top: 20px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin-top: 15px;
    margin-left: 12px;
    vertical-align: top;
    display: inline-block;
    
}
#advertisement {
    height: 155px;
    width: 660px;
    background-color: purple;
    display: inline-block;
    margin: 86px 10px;
}